<div class="dashboard-grid"
     cdkDropList
     id="gridDropList"
     #gridDropList="cdkDropList"
     [cdkDropListData]="dashboardItems"
     [cdkDropListConnectedTo]="['chartLibraryList']"
     [cdkDropListSortingDisabled]="true"
     (cdkDropListDropped)="onDrop($event)"
     (cdkDropListEntered)="onDragEntered($event)"
     (cdkDropListExited)="onDragExited($event)">
  
  <gridster 
    class="gridster-container"
    [options]="gridsterOptions">
    <gridster-item
      *ngFor="let item of dashboardItems; trackBy: trackByChartId"
      [item]="item"
      [ngClass]="{'selected-chart': item.isSelected, 'highlighted-chart': item.isHighlighted}">
      
      <app-chart-widget
        [dashboardItem]="item"
        (chartClick)="onChartClick(item)"
        (removeChart)="onRemoveChart(item)">
      </app-chart-widget>
    </gridster-item>
  </gridster>
</div>

